<%# <script src="https://js.stripe.com/v3/"></script> %>

<div class="container">
  <div class="col-md-3">
    Le status de la commande n°<%= @order.id %> est "<%= @order.status.name %>"
  </div>
  <div>Montant de la commande : <%= @order.amount %></div>
  <%= @order.checkout_session_id %>
  <div>
   Client : <%= @order.user.email %>
  </div>
  <%= link_to 'Retourner à la homepage', products_path %>
</div>
