<script src="https://js.stripe.com/v3/"></script>

<div class= "container">
  <% @products.each do |product| %>
    <ul>
      <h3><%= product.name %></h3>
      <p>Product description : <%= product.description %></p>
      <p>Product stock : <%= product.stock %></p>
      <p>Product price : <%= humanized_money(product.price)%>€</p>
    </ul>
    <%= link_to "More info", product_path(product) %>
  <% end %>
</div>

<div class="addproduct">
  <%= link_to "add a product", new_product_path %>
</div>
