<script src="https://js.stripe.com/v3/"></script>

<ul>
  <li>Name:<%= @product.name %></li>
  <li> Il reste <%= @product.stock %> produits en stock</li>
  <li>Prix : <%=humanized_money(@product.price_cents)%>€</li>
</ul>

<% %>
<%=  %> <%# pe %>


<%= form_with url: orders_path, data: {turbo: false} do %>
  <%= hidden_field_tag 'product_id', @product.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
